* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
}
body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  user-select: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}
